<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [ngStyle]="{'color': 'white'}">Navbar</a>
  <button aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-lg-up" data-target="#collapsibleNavId" data-toggle="collapse" type="button">
    <span _ngcontent-c1="" class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul  class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li  class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Master Data</a>
        </li>
      </ul>
  </div>
</nav>
